body {
    background-color: $color-principal;
    padding: 10;
    margin: 1%;
    flex-direction: column;
}

.logo-title {
    h1 {
        font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
        font-size: 50px;
        margin: 0;

        @media screen and (max-width: 768px) {
            font-size: 36px;
        }

        @media screen and (max-width: 480px) {
            font-size: 30px;
        }
    }

    h2 {
        font-family: "Roboto", Arial, sans-serif;
        font-size: 30px;
        margin-top: 20px;
        margin: 5px;

        @media screen and (max-width: 768px) {
            font-size: 24px;
            margin-top: 10px;
        }

        @media screen and (max-width: 480px) {
            font-size: 15px;
        }
    }

    display: flex;
    align-items: center;
}

.logo {
    width: 100px;
    height: auto;
    margin-right: 15px;
    margin-bottom: 5px;

    @media screen and (max-width: 768px) {
        width: 80px;
        margin-right: 10px;
        margin-bottom: 0;
    }

    @media screen and (max-width: 480px) {
        width: 60px;
        margin-right: 5px;
        margin-bottom: 0;
    }
}

.filanav {
    h1 {
        text-align: center;
    }
    h2 {
        text-align: center;
        border-bottom: 0cap;
    }
}
.navbar-toggler-icon{
   border-bottom: none;
    
}
.navbar-nav{
    text-align: right;
}
.colornav {
    background-color: rgb(168, 191, 248);
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 10px;
}
main {
    max-width: 1400px;
    margin: 0 auto;
    .intro-index {
        @include subtitulo(black, 2px solid black, 5px);
        margin-top: 10px;
    }
}
.contenedor {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;

    @media screen and (max-width: 768px) {
        grid-template-columns: 1fr;
    }
}
.carousel-control-prev-icon{
    background-color: black;
}
.carousel-control-next-icon{
    background-color: black;
}
.tex-car {
    display: grid;
    place-items: center;
    font-size: 20px;
}
.section3 {
    text-align: center;
    margin-top: 25px;
    font-size: $font-size-heading;
}
.section4 {
    margin-top: 15px;
    font-size: 20px;

    padding: 10px;
    margin: 10px;
}
footer {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: rgb(168, 191, 248);
    text-decoration: none; 
    margin-top: 10px;
    @include subtitulo(black, 2px solid black, 5px);
    margin-top: 10px;
    border-radius: 10px;
    box-sizing: border-box;
}
.redes-sociales {
    margin-top: 10px;
}
.redes-logo {
    display: inline-block;
    position: relative;
    margin-right: 45px;
    text-decoration: none;
    span {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        color: white;
        text-align: center;
        padding: 4px 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
        transition: opacity 0.3s ease;
    }
    img {
        max-width: 100%;
        height: auto;
    }
}
.redes-logo:hover span {
    opacity: 1;
}

#pie {
    text-align: center; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px; 
    padding: 10px; 
}

#pie a {
    text-decoration: none; 
    color: black; 
    font-weight: bold; 
}

#pie a:hover {
    text-decoration: none; 
    border: 1px solid #000; 
    color: white;
    background-color: #000; 
}
