.info-tex{
    font-family: $font-family;
    font-size:15px ;
   
    
}
.intro-info{
    @include subtitulo (black, 2px solid black, 5px);
    margin-top: 5px;
}
.cont-info {
    background-color: #ccc;
    padding: 20px;
    border: 1px solid #333;
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: 10px;
    display: grid;
    grid-template-columns: auto 1fr; 
    align-items: center; 
    text-align: center;
    padding: 20px;
    max-width: 100%;
    margin: 0 auto;
    gap: 5rem; 
    @media (max-width: 768px) {
        grid-template-columns: 1fr;
    }
}

.cont-info img {
    max-width: 100%;
    height: auto;
}
.titulo-info{
    text-align: center;
    font-size: 30px;
}
.table1{
    font-size: 20px;
    font-weight: 400;
    color: rgb(248, 243, 243);
    border: 2px solid black;
    background-color: #ccc;
}
.table>:not(caption)>*>* {
    padding: 0.5rem 0.5rem;
    background-color: #ccc;
  }