.intro-nos{
    @include subtitulo (black, 2px solid black, 5px);
 margin-top: 5px;
 }
 .caja-nos1{
    background-color: #ccc;
    padding: 20px;
    border: 1px solid #333;
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: 10px;
    display: grid;
    grid-template-columns: auto 1fr; 
    align-items: center; 
    text-align: center;
    padding: 20px;
    max-width: 100%;
    margin: 10px;
    gap: 2rem; 
    @media (max-width: 768px) {
        grid-template-columns: 1fr;
    }
}
.caja-nos1 img{
    max-width: 100%;
    height: auto;
}
.caja-nos2{
    background-color: #ccc;
    padding: 20px;
    border: 1px solid #333;
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr auto; 
    align-items: center; 
    text-align: center;
    padding: 20px;
    max-width: 100%;
    margin: 10px;
    gap: 2rem; 
    @media (max-width: 768px) {
        grid-template-columns: 1fr;
    }
}
.caja-nos2 img{
    max-width: 100%;
    height: auto;
}
.tex-nos{
    font-size: 20px;
}