* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$color-principal: rgb(193, 216, 247);
$font-family: 'Arial', sans-serif;
$font-size-heading: 25px;
$margin-small: 10px;
@mixin subtitulo ($color, $borde, $padding) {
    font-size: 20px;
    font-weight:  400;
    color: $color;
    border: $borde;
    padding: $padding;
  }
  
@import"_index";

@import "_contacto";

@import "_productos";

@import "_nosotros";

@import "_informacion";