* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F5F5F5;
  padding: 10;
  margin: 1%;
  flex-direction: column;
}

.logo-title {
  display: flex;
  align-items: center;
}
.logo-title h1 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 50px;
  margin: 0;
}
@media screen and (max-width: 768px) {
  .logo-title h1 {
    font-size: 36px;
  }
}
@media screen and (max-width: 480px) {
  .logo-title h1 {
    font-size: 30px;
  }
}
.logo-title h2 {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 30px;
  margin-top: 20px;
  margin: 5px;
}
@media screen and (max-width: 768px) {
  .logo-title h2 {
    font-size: 24px;
    margin-top: 10px;
  }
}
@media screen and (max-width: 480px) {
  .logo-title h2 {
    font-size: 15px;
  }
}

.logo {
  width: 100px;
  height: auto;
  margin-right: 15px;
  margin-bottom: 5px;
}
@media screen and (max-width: 768px) {
  .logo {
    width: 80px;
    margin-right: 10px;
    margin-bottom: 0;
  }
}
@media screen and (max-width: 480px) {
  .logo {
    width: 60px;
    margin-right: 5px;
    margin-bottom: 0;
  }
}

.filanav h1 {
  text-align: center;
}
.filanav h2 {
  text-align: center;
  border-bottom: 0cap;
}

.navbar-toggler-icon {
  border-bottom: none;
}

.navbar-nav {
  text-align: right;
}

.colornav {
  background-color: rgb(168, 191, 248);
  margin-top: 5px;
  margin-left: 5px;
  margin-bottom: 10px;
}

main {
  max-width: 1400px;
  margin: 0 auto;
}
main .intro-index {
  font-size: 20px;
  font-weight: 400;
  color: black;
  border: 2px solid black;
  padding: 5px;
  margin-top: 10px;
}

.contenedor {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
@media screen and (max-width: 768px) {
  .contenedor {
    grid-template-columns: 1fr;
  }
}

.carousel-control-prev-icon {
  background-color: black;
}

.carousel-control-next-icon {
  background-color: black;
}

.tex-car {
  display: grid;
  place-items: center;
  font-size: 20px;
}

.section3 {
  text-align: center;
  margin-top: 25px;
  font-size: 25px;
}

.section4 {
  margin-top: 15px;
  font-size: 20px;
  padding: 10px;
  margin: 10px;
}

footer {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  background-color: rgb(168, 191, 248);
  text-decoration: none;
  margin-top: 10px;
  font-size: 20px;
  font-weight: 400;
  color: black;
  border: 2px solid black;
  padding: 5px;
  margin-top: 10px;
  border-radius: 10px;
  box-sizing: border-box;
}

.redes-sociales {
  margin-top: 10px;
}

.redes-logo {
  display: inline-block;
  position: relative;
  margin-right: 45px;
  text-decoration: none;
}
.redes-logo span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  text-align: center;
  padding: 4px 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.redes-logo img {
  max-width: 100%;
  height: auto;
}

.redes-logo:hover span {
  opacity: 1;
}

#pie {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  padding: 10px;
}

#pie a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

#pie a:hover {
  text-decoration: none;
  border: 1px solid #000;
  color: white;
  background-color: #000;
}

.intro-cont {
  font-size: 20px;
  font-weight: 400;
  color: black;
  border: 2px solid black;
  padding: 5px;
  margin-top: 5px;
}

.formu {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
}
@media (max-width: 780px) {
  .formu {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 5px;
  }
}

.con-info {
  display: grid;
  place-items: center;
  font-size: 20px;
  background-color: rgb(167, 214, 245);
  padding: 1rem;
}

.titul {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: #333;
  margin-top: 10px;
  text-transform: uppercase;
}

.form {
  background-color: rgb(116, 179, 235);
  border-bottom: #000;
  padding: 1rem;
  font-size: 20px;
}

.colorboton {
  background-color: rgb(161, 238, 233);
}

.colorboton:hover {
  background-color: rgb(247, 247, 249);
  text-decoration-color: black;
}

.cont {
  font-size: 20px;
  background-color: rgb(166, 166, 246);
  margin-top: 1rem;
}

.intro-pro {
  font-size: 20px;
  font-weight: 400;
  color: black;
  border: 2px solid black;
  padding: 5px;
  margin-top: 5px;
}

.produc {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  grid-auto-flow: row;
  place-items: center;
}
@media (max-width: 780px) {
  .produc {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 5px;
  }
}
@media (max-width: 480px) {
  .produc {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 1px;
  }
}

.caja img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.caja {
  background-color: #ccc;
  padding: 20px;
  border: 1px solid #333;
  border-radius: 10px;
  box-sizing: border-box;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 10px;
}
@media (max-width: 480px) {
  .caja {
    padding: 10px;
    margin-top: 5px;
  }
}

.titulo {
  font-size: 20px;
  font-weight: bold;
  color: #333;
  margin-top: 10px;
  text-transform: uppercase;
}

.intro-nos {
  font-size: 20px;
  font-weight: 400;
  color: black;
  border: 2px solid black;
  padding: 5px;
  margin-top: 5px;
}

.caja-nos1 {
  background-color: #ccc;
  padding: 20px;
  border: 1px solid #333;
  border-radius: 10px;
  box-sizing: border-box;
  margin-top: 10px;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  text-align: center;
  padding: 20px;
  max-width: 100%;
  margin: 10px;
  gap: 2rem;
}
@media (max-width: 768px) {
  .caja-nos1 {
    grid-template-columns: 1fr;
  }
}

.caja-nos1 img {
  max-width: 100%;
  height: auto;
}

.caja-nos2 {
  background-color: #ccc;
  padding: 20px;
  border: 1px solid #333;
  border-radius: 10px;
  box-sizing: border-box;
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  text-align: center;
  padding: 20px;
  max-width: 100%;
  margin: 10px;
  gap: 2rem;
}
@media (max-width: 768px) {
  .caja-nos2 {
    grid-template-columns: 1fr;
  }
}

.caja-nos2 img {
  max-width: 100%;
  height: auto;
}

.tex-nos {
  font-size: 20px;
}

.info-tex {
  font-family: "Arial", sans-serif;
  font-size: 15px;
}

.intro-info {
  font-size: 20px;
  font-weight: 400;
  color: black;
  border: 2px solid black;
  padding: 5px;
  margin-top: 5px;
}

.cont-info {
  background-color: #ccc;
  padding: 20px;
  border: 1px solid #333;
  border-radius: 10px;
  box-sizing: border-box;
  margin-top: 10px;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  text-align: center;
  padding: 20px;
  max-width: 100%;
  margin: 0 auto;
  gap: 5rem;
}
@media (max-width: 768px) {
  .cont-info {
    grid-template-columns: 1fr;
  }
}

.cont-info img {
  max-width: 100%;
  height: auto;
}

.titulo-info {
  text-align: center;
  font-size: 30px;
}

.table1 {
  font-size: 20px;
  font-weight: 400;
  color: rgb(248, 243, 243);
  border: 2px solid black;
  background-color: #ccc;
}

.table > :not(caption) > * > * {
  padding: 0.5rem 0.5rem;
  background-color: #ccc;
}/*# sourceMappingURL=style.css.map */
.formulario {
  display: none;
}

.boton-comprar {
  border: 2px solid #3498db; /* Color del borde */
  padding: 10px 20px; /* Ajusta el relleno según sea necesario */
 background-color: aquamarine;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px; /* Bordes redondeados */
  transition: background-color 0.3s; /* Transición suave del color de fondo */

  /* Agregar efecto de sombra al pasar el mouse */
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.boton-comprar:hover {
  background-color: #3498db; /* Nuevo color de fondo al pasar el mouse */
  color: #fff; /* Cambiar el color del texto para que sea legible en el nuevo fondo */
}


/* Estilo para los botones de Pagar y Vaciar Carrito */
#pagar-button,
#vaciar-carrito-button {
    border: 2px solid #27ae60; /* Color del borde */
   background-color: #0b98f5;
    padding: 10px 20px; /* Ajusta el relleno según sea necesario */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px; /* Bordes redondeados */
    transition: background-color 0.3s; /* Transición suave del color de fondo */

    /* Agregar efecto de sombra al pasar el mouse */
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

#pagar-button:hover,
#vaciar-carrito-button:hover {
    background-color: #27ae60; /* Nuevo color de fondo al pasar el mouse */
    color: #fff; /* Cambiar el color del texto para que sea legible en el nuevo fondo */
}
/* Estilos para los formularios */
form {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

label {
  display: block;
  margin-bottom: 8px;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
}

button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  margin: 4px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Estilos específicos para el formulario de creación de usuario */
#crearUsuarioForm {
  display: none; /* Ocultar por defecto */
}

